In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Spotify Top 100 most Streamed Dataset.csv')
df.head()

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86

In [3]:
df.columns
df.shape

(100, 14)

In [4]:
df.isnull().sum()

title               0
artist              0
top genre           0
year                0
beats.per.minute    0
energy              0
danceability        0
loudness.dB         0
liveness            0
valance             0
length              0
acousticness        0
speechiness         0
popularity          0
dtype: int64

In [5]:
df.dtypes

title               object
artist              object
top genre           object
year                 int64
beats.per.minute     int64
energy               int64
danceability         int64
loudness.dB          int64
liveness             int64
valance              int64
length               int64
acousticness         int64
speechiness          int64
popularity           int64
dtype: object

In [6]:
t = df.groupby('year')[['energy','popularity']].agg(['sum','mean','min','max','count'])
t

     energy                          popularity
        sum       mean min max count        sum       mean min max count
year
1975     40  40.000000  40  40     1         81  81.000000  81  81     1
1995     90  90.000000  90  90     1         77  77.000000  77  77     1
2004     91  91.000000  91  91     1         81  81.000000  81  81     1
2008     46  46.000000  46  46     1         80  80.000000  80  80     1
2012    241  80.333333  71  92     3        238  79.333333  76  82     3
2013    229  57.250000  26  78     4        322  80.500000  72  84     4
2014    338  56.333333  38  74     6        478  79.666667  70  83     6
2015    846  65.076923  38  81    13       1006  77.384615  66  83    13
2016   1019  63.687500  40  87    16       1238  77.375000  53  84    16
2017    776  64.666667  37  82    12        988  82.333333  79  86    12
2018   1208  60.400000  30  86    20       1590  79.500000  56  86    20
2019    935  58.437500  11  82    16       1293  80.812500  67  88    16
2020    221  73.666667  69  79     3        256  85.333333  81  91     3
2021    188  62.666667  33  83     3        239  79.666667  66  88     3

In [7]:
ex2 = df.groupby('year')[['length','beats.per.minute']].agg(['mean','median','var','std'])
ex2

          length                                beats.per.minute         \
            mean median          var        std             mean median
year
1975  354.000000  354.0          NaN        NaN        71.000000   71.0
1995  259.000000  259.0          NaN        NaN       174.000000  174.0
2004  223.000000  223.0          NaN        NaN       148.000000  148.0
2008  242.000000  242.0          NaN        NaN       151.000000  151.0
2012  207.666667  187.0  1920.333333  43.821608       124.000000  136.0
2013  256.750000  255.0    94.916667   9.742518       110.500000  121.0
2014  246.833333  250.5  2838.966667  53.281954       112.166667  105.0
2015  216.307692  213.0   652.730769  25.548596       114.384615  113.0
2016  216.687500  215.0   372.095833  19.289786       117.250000  108.5
2017  203.833333  202.5  1463.969697  38.261857       117.916667  109.5
2018  213.300000  214.5  1130.642105  33.625022       111.050000  102.5
2019  199.125000  196.5   485.716667  22.038981       123.375000  118.5
2020  188.333333  183.0   102.333333  10.115994       128.333333  124.0
2021  167.333333  172.0   592.333333  24.337899       102.666667   91.0


              var        std
year
1975          NaN        NaN
1995          NaN        NaN
2004          NaN        NaN
2008          NaN        NaN
2012   892.000000  29.866369
2013   531.666667  23.057898
2014  1151.766667  33.937688
2015   585.089744  24.188628
2016   786.333333  28.041636
2017   794.628788  28.189161
2018   669.207895  25.869053
2019   718.383333  26.802674
2020  1654.333333  40.673497
2021   408.333333  20.207259

In [8]:
df_2016 = df[df['year']>=2016]
df_2016.shape

(70, 14)

In [9]:
ex2 = df_2016.groupby('year')[['length','beats.per.minute']].agg(['mean','median','var','std'])
ex2

          length                                beats.per.minute         \
            mean median          var        std             mean median
year
2016  216.687500  215.0   372.095833  19.289786       117.250000  108.5
2017  203.833333  202.5  1463.969697  38.261857       117.916667  109.5
2018  213.300000  214.5  1130.642105  33.625022       111.050000  102.5
2019  199.125000  196.5   485.716667  22.038981       123.375000  118.5
2020  188.333333  183.0   102.333333  10.115994       128.333333  124.0
2021  167.333333  172.0   592.333333  24.337899       102.666667   91.0


              var        std
year
2016   786.333333  28.041636
2017   794.628788  28.189161
2018   669.207895  25.869053
2019   718.383333  26.802674
2020  1654.333333  40.673497
2021   408.333333  20.207259

In [10]:
ex3 = df_2016.groupby('year').agg({'energy':['min','max'],'popularity':['min','max'],
                                 'liveness': ['mean','std']})
ex3

     energy     popularity       liveness
        min max        min max       mean        std
year
2016     40  87         53  84  16.187500   8.871067
2017     37  82         79  86  13.583333   5.946096
2018     30  86         56  86  17.100000  11.827266
2019     11  82         67  88  17.625000  18.521609
2020     69  79         81  91   9.666667   0.577350
2021     33  83         66  88  26.666667  16.653328

#### Q4) Find the min max for beats.per.minute and liveness
varance and standard deviation fro energy and dancibility
based on top 10 genres

In [11]:
top_genres = df['top genre'].value_counts()
top_genres = top_genres.sort_values(ascending = False).head(10)
top_genres

top genre
dance pop                    28
pop                          11
dfw rap                       7
modern rock                   6
canadian pop                  6
canadian contemporary r&b     4
electropop                    4
melodic rap                   3
canadian hip hop              2
rap                           2
Name: count, dtype: int64

In [12]:
top_genres.index

Index(['dance pop', 'pop', 'dfw rap', 'modern rock', 'canadian pop',
       'canadian contemporary r&b', 'electropop', 'melodic rap',
       'canadian hip hop', 'rap'],
      dtype='object', name='top genre')

In [13]:
ex4 = df[df['top genre'].isin(top_genres.index)].groupby(['top genre']).agg({'beats.per.minute':['min','max'],
                                            'liveness':['min','max'],
                                              'energy':['var','std'],  
                                              'danceability':['var','std']})
ex4

                          beats.per.minute      liveness          energy  \
                                       min  max      min max         var
top genre
canadian contemporary r&b              108  186        9  14  106.250000
canadian hip hop                        77  104       32  55  128.000000
canadian pop                            83  150        5  30  282.666667
dance pop                               80  160        3  56  242.522487
dfw rap                                 90  160        7  25  152.952381
electropop                              83  135        9  12  572.666667
melodic rap                            117  155       11  79   72.333333
modern rock                             90  170        6  67  240.166667
pop                                     79  125        8  34  274.490909
rap                                    130  155       12  15    0.000000

                                     danceability
                                 std          var        std
top genre
canadian contemporary r&b  10.307764    82.250000   9.069179
canadian hip hop           11.313708     8.000000   2.828427
canadian pop               16.812694   207.066667  14.389811
dance pop                  15.573133   106.818783  10.335317
dfw rap                    12.367392    59.238095   7.696629
electropop                 23.930455   276.333333  16.623277
melodic rap                 8.504901    79.000000   8.888194
modern rock                15.497312   179.100000  13.382825
pop                        16.567767   253.254545  15.913973
rap                         0.000000     0.500000   0.707107

Q5) For the artist Post Malone , Ed Sheeran and imagine dragon display, The weekend and the chainsmokers max of energy sum of length mean of popularity mean of danceability variance of beats.per.minute rename the solumns accordingly

In [14]:
artists = ['Post Malone','Ed Sheeran','Imagine Dragons','The Weeknd','The Chainsmokers']
artists

['Post Malone',
 'Ed Sheeran',
 'Imagine Dragons',
 'The Weeknd',
 'The Chainsmokers']

In [15]:
q5 = df[df['artist'].isin(artists)].groupby('artist').agg(Max_Energy= ('energy','max'),
Sum_length = ('length','sum'),Popularity_Mean=('popularity','mean'),Danceabilty_mean = ('danceability','mean'),
variance_beats = ('beats.per.minute','var'))

q5

,Max_Energy,Sum_length,Popularity_Mean,Danceabilty_mean,variance_beats
artist,,,,,
Ed Sheeran,68,1258,83.200000,72.400000,117.500000
Imagine Dragons,82,756,81.000000,58.750000,1034.916667
Post Malone,80,1486,81.285714,66.714286,524.904762
The Chainsmokers,87,700,81.666667,63.333333,1256.333333
The Weeknd,77,886,83.750000,62.250000,1583.000000